@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


html {
    height: 100%;
    width: 100%;
}

body {
    font-family: 'Roboto', sans-serif;   
    float: left;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

#root, .App {
    float: left;
    width: 100%;
    height: 100%;
}

.btn-icon {
    background: none;
    border: none;
    cursor: pointer;
}


button, input, form {
    font-family: 'Roboto', sans-serif;   
}

/* ====================== HEADER ========================*/


header {
    height: 20vh;
    width: 100%;
    max-width: 920px;
    display: block;
    margin: 0 auto;
}

header h2 {
    width: 280px;
    float: left;
    font-size: 26px;
    text-decoration: underline;
}

.btn-help, .btn-save, .btn-search {
    float: right;
    margin: 20px 0 0 20px;
    font-size: 28px;
}

header input[type=text] {
    background: none;
    border: none;
    border-bottom: 2px solid #ccc;
    padding: 7px 10px;
    font-size: 15px;
    width: 100px;
    float: right;
    outline: none;
    margin: 17px -10px 0 0;
}


/* ====================== TREE ELEMENTS ========================*/


.Tree-Elements {
    height: 60vh;
    width: 100%;
    max-width: 920px;
    margin: 0px auto 0 auto;
    border-bottom: 1px solid #222;
}

.Tree-Element {
    position: relative;
    z-index: 100;
    cursor: pointer;
    float: left;
    max-width: 150px;
    text-align: center;
    padding: 40px 25px 40px 25px;
    font-weight: bold;
    background: rgba(255,255,255,0.4);
    font-size: 28px;
    text-transform: uppercase;
    margin: -25px 25px 50px 25px;
    border: 1px solid black;
    transition: all 0.5s;
}

.Tree-Element:hover {
    background: black;
    color: white;
}

/* ====================== TOOLBAR ========================*/

.Toolbar {
    background: white;
    height: 20vh;
    width: 100vw;
    max-width: 920px;
    display: block;
    margin: 0 auto;
}

.Toolbar-patterns {
    width: 50%;
    height: 100%;
    float: left;
}

.Toolbar-actions {
    width: 50%;
    height: 100%;
    float: left;
}

.btn-play {
    width: 80px;
    font-size: 72px;
    float: left;
    height: 80px;
    cursor: pointer;
    margin: 40px auto;
}

.tempo-hint {
    position: absolute;
    top: 0;
    left: 0;
    width: 90px;
    height: 80px;
    background: white;
    opacity: 0;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {  
   opacity: 1;
}

.input-tempo {
    position: relative;
    float: left;
    margin-top: 0px;
    width: 100px;
    font-size: 50px;
    border: none;
    outline: none;
}

.btn-play svg {
    stroke-width: 0.5;
}

.btn-shuffle {
    width: 80px;
    height: 80px;
    font-size: 50px;
    border-radius: 100%;
    float: left;
    opacity: 0.8;
    transition: all 0.2s;
    margin: 40px 20px 0 30px;
}

.btn-shuffle svg {
    margin-top: 10px;
    stroke-width: 1;
}

.btn-shuffle:active {
    color: yellow;
    background: rgb(227, 94, 17);
}


.btn-volume {
    width: 80px;
    font-size: 42px;
    float: left;
    opacity: 0.8;
    margin: 60px 0 0 0;
}

.btn-volume svg {
    stroke-width: 1;
}

.tempo {
    position: relative;
    float: right;
    font-size: 48px;
    margin: 50px 0 0 10px;
}

.tempo b {
    font-size: 14px;
    opacity: 0.5;
    margin: 25px 0 0 5px;
    float: right;
}

/* ====================== PATTERNS ========================*/

.Patterns {
    padding: 20px;
    position: relative;
    float: left;
    width: 100%;
}

.pattern-row {
    width: 100%;
    float: left;
}

.pattern-row span {
    margin: 5px;
    float: left;
    position: relative;
    background: #fff;
    border: 1px solid #222;
    border-radius: 100%;
    width: 10px;
    cursor: pointer;
    height: 10px;
}

.pattern-row span.active {
    background: black;
}

/* ====================== CANVAS ======================*/

canvas{
    position: absolute;
    top:0;
    left:0;
    z-index:-1;
}